* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #__next,
  #root {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    overscroll-behavior: none;
  }
  
  body {
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    color: black;
  }
  
  html {
    overflow: hidden;
    height: 100%;
  }
  
  body {
    height: 100%;
    overflow: auto;
  }
  
  canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    overflow: hidden;
  }

.demo-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 65%;
  transform: scale(1.5);
  text-align: center;
}

  /* @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap"); */

/* html,
body,
#root {
  padding: 0;
  margin: 0;
  font-family: "Russo One", sans-serif;
  background: white;
}

canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  outline: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  color: red;
  z-index: 10;
  position: fixed;
  left: 60px;
  font-size: 100px;
}

a {
  color: inherit;
  text-decoration: none;
} */
  